nav ul {
    list-style-type: none; 
    margin: 0;           
    padding: 0;           
    display: flex;        
}

nav ul li {
    margin-right: 20px;   
}

nav ul li a {
    color: rgb(164, 197, 162);         
    text-decoration: none; 
    padding: 15px 15px;    
    transition: 0.3s; 
}
.nav {
    background-color:#1c5d03;
    height: 35px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-radius: 5px; 
}
.active {
    color: black;
    background-color:  rgb(164, 197, 162);
    border-radius: 5px; 
}
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 1px;
    background-color:black;
    color: white;
}
tr td {
   border-width: 2px; 
   border-style: dashed;
   padding: 5px;
   text-align: center;
   border-color:  rgba(164, 197, 162);
   border-width: 2px;
   border-radius: 5px;
}
.table {
    border-collapse: collapse;
    height: 900px;
    width: 100%;
    background-image: url(background.jpg);
    border-color:  rgb(164, 197, 162);
    border-width: 2px;
    border-radius: 5px;
}
.see {
   margin-top: 20px;
   width: 100px;
   height: 67px;
   padding-top: 0px;
   border:solid 1px #143d04;
}
.place {
  height: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid rgb(164, 197, 162) 2px;
  width: 210px;
  border-collapse: collapse;
}
.toanother {
    text-decoration: none;
    color:#91c27d;
}
.sugest {
     font-size: large;
     text-align: center;
     color: #91c27d;
     padding-bottom: 0%;
}
.trees {
    display: flex;
    justify-content: center;
}
